{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">VEGAN CARROT CAKE RECIPE</h5>
        <div class="card-body">
            <p class="card-text">If you fancy something sweet and comforting, we have just the thing.
                This Vegan Coconut & Cream Carrot Cake is the perfect treat. It's filled with light hints of cinnamon,
                spiced nutmeg, crunchy walnuts and topped with a lightly sweetened coconut creme frosting. </p>
                <a href="#" class="btn btn-beige rounded-0 mt-5">Know more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}