{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="row h-100">

        <div class="col-10 offset-1 my-auto">
            <h1 class="center"> Learn how to decorate cookies!</h1>
            <div class="row">
                <div class="col-5 offset-1 my-auto"><img src="{{ MEDIA_URL }}lessons.jpg" alt="decorating-lesson" class="img-thumbnail"></div>
            <div class="col-5 offset-1 my-auto"><p> Whether you're a beginner or a seasoned biscuit decorator, we have something to offer you all.
                <br> We are also pleased to be offering some children's classes in October Half Term.
                <br>Just for Fun courses: starting with some scrummy cake and a drink, we will introduce you to royal icing
                and different techniques before you have a go yourself. You will leave the 2 hour session with a set of
                6 delicious, decorated biscuits to be proud of! <br>
                If you would like to UP YOUR COOKIE GAME then my Intermediate Plus sessions are perfect. Each session
                starts with cake and drinks and then you'll learn to mix & colour your own royal icing, outline & flood
                royal icing transfers and transfer the designs to your pre-baked biscuits! <br>

            </p>
            <p>Please email info@biscuiteers to book your spot. </p>
            <p>£35 adult, £30 child - price includes a drink!</p></div>
            </div>
            
            
            
        </div>
    </div>
</div>
{% endblock %}